<template name="adminUsers">
  <div class="content">
      <ul class="table-view">
        {{#each user}}
          <li class="table-view-cell">
            <h4 style="padding-right: 80px">{{profile.firstName}} {{profile.lastName}} - {{emails.[0].address}}</h4>

            <button class="btn decrTrust" data-ignore="push" style="right: 115px !important;">
              <span class="icon icon-down"></span>
            </button>
            <span class="badge" style="right: 55px !important;">{{profile.trust}}/{{maxTrust}}</span>
            <button class="btn incrTrust" data-ignore="push">
              <span class="icon icon-up"></span>
            </button>

          </li>
        {{/each}}
      </ul>
  </div>
</template>