<template name="browseConcepts">
  <div class="content">
    <ul class="table-view">
      {{#each result}}
        <li class="table-view-cell">
          <a class="navigate-right" data-ignore="push" href="/babel/{{uuid}}">
            {{firstUpper subject}}
            <span class="badge">{{extra.trust}}/{{maxTrust}}</span>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="babelConcept">
  <div class="content">
    {{#with currentTransl}}
      <ul class="table-view">
        <li class="table-view-cell">
          <img src="/flags/{{lang}}.png" class="langflag"> {{firstUpper subject}}
          <span class="badge">{{extra.trust}}/{{maxTrust}}</span>
        </li>
      </ul>
    {{/with}}
      {{#if options}}
          <select class="selectTranslation">
            <option value="">+</option>
            {{#each options}}
              <option value="{{subject}}" data-id="{{_id}}">
                  {{firstUpper subject}} - {{extra.trust}}/{{maxTrust}}
              </option>
            {{/each}}
            <option value="other">add a translation...</option>
          </select>
      {{/if}}
      {{#if newTranslation}}
          <label>Translate</label>
          <input type="text" placeholder="..." id="newTranslation">
          <label>Source Name</label>
          <input type="text" placeholder="..." id="sourceN">
          <label>Source URL</label>
          <input type="text" placeholder="..." id="sourceUrl">
      {{/if}}
      {{#if currentUser}}
        <button class="btn btn-primary btn-block btn-outlined" id="newTranslationB">
          <span class="icon icon-plus"></span>
        </button>
      {{/if}}
    <ul class="table-view">
      {{#each translation}}
        <li class="table-view-cell">
            <img src="/flags/{{lang}}.png" class="langflag"> {{firstUpper subject}}
        </li>
      {{/each}}

      <li class="table-view-cell flex">
        <p>
          {{#each path}}
            <a href="/babel/{{uuid}}" data-ignore="push" style="color: #000000 !important;"><strong>{{firstUpper subject}}</strong></a> &nbsp;>&nbsp;
          {{/each}}
          {{#with subj}}
            <a href="/babel/{{uuid}}" data-ignore="push" style="color: #000000 !important;"><strong>{{subject}}</strong></a>
          {{/with}}
        </p>
      </li>
      {{#each kids}}
        <li class="table-view-cell">
          <a class="navigate-right" href="/babel/{{uuid}}" data-ignore="push">
            {{firstUpper subject}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</template>