<template name="settings">
  <div class="content">
    <div class="content-padded">
      {{> langChooser}}
      {{#if currentUser}}
        {{#if addUser}}
          <label>Email</label>
          <input type="text" placeholder="..." id="userEmail">
          <label>Trust</label>
          <select>
            {{#each trustopt}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>
          <button class="btn btn-primary btn-block btn-outlined" id="inviteUser">
            <span class="icon icon-check"></span>
          </button>
        {{else}}
          {{#if gt trust 1}}
            <button class="btn btn-primary btn-block btn-outlined" id="addUser">
              <span class="icon icon-plus"></span>
              <span class="icon icon-person"></span>
            </button>
          {{/if}}
        {{/if}}

        <a href="/admin/users" data-ignore="push" class="btn btn-block">
          <span class="icon icon-person"></span>
        </a>
        <button class="btn btn-negative btn-block btn-outlined" id="logout">Log Out</button>
      {{else}}
        <button class="btn btn-negative btn-block" id="GoogleLogin">Google</button>
      {{/if}}
    </div>
  </div>
</template>

<template name="langChooser">
  <div>
    <select id="langChooser">
      {{#each lang}}
        <option value="{{this}}">{{country this}}</option>
      {{/each}}
    </select>
  </div>
</template>